{% extends 'index.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="cart-content">
    {% for item in cart %}
        <p>
	    {{ item.usuario.username }}, {{ item.job_name }}
		<select id="priority">
			<option value="">{{ item.priority_status }}</option>
			<option value="high">High</option>
			<option value="mid">Mid</option>
			<option value="low">Low</option>
			<option value="none">None</option>
		</select>
        </p>
    {% endfor %}
</div>

<div class="cart-content">
    <p>Total</p>
    <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
	<button type="submit"><a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a></button>
</div>

{% endblock %}