{% extends 'index.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="success-text">
    {% for item in cart %}
	    <p>
	    {{ item.job_name }}, {{ item.priority_status }}
	    </p>

    {% endfor %}
</div>
<div class="success-text">
    <p>Total</p>
    <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
	<button type="submit"><a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a></button>
</div>

{% endblock %}