{% extends "index.html" %}
{% load staticfiles%}
{% block title %} Team {% endblock title %}
{% block content %}
  <!-- Section: to put in that case project description with some Figures -->
  <section class="container-fluid row">
    <div class="col-lg-2"></div>
    <div class="content col-xs-12 col-lg-8">
      <h2>CD8 T cell exhaustion model</h2>
      <p class="intro">
        Primary Sjögren’s syndrome (pSS) is a systemic autoimmune disease, where patients often suffer from fatigue.
        Biological pathways underlying this fatigue are unknown. In this study aptamer-based SOMAscan technology is
        used to identify biomarkers and possible treatment targets for fatigue in pSS.
      </p>
      <p>
        <img class="figure1_1" src="{% static "lab/media/image/Figuur1_Somascan.jpg" %}">
      </p>
      <p class="results">
        Serum concentrations of over 1300 proteins were compared between 63 pSS and 20 HCs resulting in 58 upregulated
        and 46 downregulated proteins. Additionally, serum concentrations of 30 interferon positive and 30 negative
        pSS patients were compared resulting in 25 upregulated and 13 downregulated proteins.
        ELISAs were performed for several DEPs between pSS patients and HCs or IFNpos and IFNneg all showing a good
        correlation between protein levels measured by ELISA and relative fluorescence units (RFU) measured by the
        SOMAscan. Comparing 22 fatigued and 23 non-fatigued pSS patients, 16 serum proteins were differentially
        expressed between, of which 14 were upregulated and 2 were downregulated. DEPs showed good capacity to
        discriminate fatigued and non-fatigued pSS patients.
      </p>
      <img class="figure1_2" src="{% static "lab/media/image/Figuur2_Somascan.png" %}">
      <p class=" conclusions">
        In this study we validated the use of aptamer-based proteomics and were able to identify several proteins
        which were able to distinguish fatigued from non-fatigued pSS patients.
      </p>
      <form>
        <button type="button" class="btn btn-primary center-block" onclick="history.back()">Go Back!</button>
      </form>
    </div>
    <div class="col-lg-2"></div>
  </section>
</div>
{% endblock content%}