{% extends "index.html" %}
{% load staticfiles%}
{% block title %} Team {% endblock title %}
{% block content %}
  <!-- Section: to put in that case project description with some Figures -->
  <section class="container-fluid row">
    <div class="col-lg-2"></div>
    <div class="content col-xs-12 col-lg-8">
      <h2>Profiling T-cell prolymphocytic leukemia with sncRNA</h2>
      <p class="container intro">
        T-cell prolymphocytic leukemia (T-PLL) is a rare type of neoplasm with an adverse prognosis due to poor
        responsiveness to conventional chemotherapies. Accurate and rapid diagnosis of T-PLL is problematic due to
        the heterogeneous nature of the disease. Therefore, further molecular insights of T-PLL are needed. Small
        non-coding RNAs (sncRNA) are defined as single stranded RNAs that are smaller than 200nt in length and
        include e.g. microRNAs (miR), small nucleolar RNA (snoRNA).
      </p>
      <p>
        <img class="figure2_1" src="{% static "lab/media/image/Fig2_1.png" %}">
      </p>
      <p class="container results">
        To increase the molecular understanding of T-PLL, we performed sncRNA expression profiling with the Illumina
        platform on a well-characterized panel of 21 T-PLL samples. Notably, detailed molecular, cytogenetic,
        morphologic and clinical data are available of all T-PLL patients included in this study.
        , we performed a correlation study using the expression profiles of the different types of sncRNAs and found
        a clear separation of T-PLL samples from the normal T-cell fractions when miRNA, piRNA and snoRNA expression
        profiles were used in the analysis. In addition, based on these data we could already identify potential
        subgroups of T-PLL, indicating that T-PLL is not a homogeneous disease. Finally, we noted aberrant expression
        of different types of sncRNAs compared to normal T-cell fractions, which may be indicative for essential roles
        of sncRNA species in the pathogenesis of T-PLL
      </p>
      <img class="figure2_2" src="{% static "lab/media/image/Fig2_2.png" %}">
      <p class="container-fluid conclusions">
        Currently, we are in the process of characterizing sncRNA species that are aberrantly regulated specifically
        in T-PLL. Finally, we are selecting candidate sncRNAs for further functional characterization and for testing
        their diagnostic and/or prognostic value.
      </p>
      <form>
        <button type="button" class="btn btn-primary center-block" onclick="history.back()">Go Back!</button>
      </form>
    </div>
    <div class="col-lg-2"></div>
  </section>
</div>
{% endblock content %}