{% extends "index.html" %}
{% load staticfiles%}
{% block title %} Team {% endblock title %}
{% block content %}
  <!-- Section: to put in that case project description with some Figures -->
  <section class="container-fluid row">
    <div class="col-lg-2"></div>
    <div class="content col-xs-12 col-lg-8">
      <h2>WES and transcriptomics: NeoAntigenes</h2>
      <p class="container intro">
        This is a cancer immunotherapy pipeline for the identification of specific Variant Antigens by Cancer
      Sequencing that integrates tumor mutation and expression data (DNA- and RNA-Seq). It enables cancer
      immunotherapy research by using massively parallel sequence data to predicting tumor-specific mutant
      peptides (neoantigens) that can elicit anti-tumor T cell immunity. It is being used in studies of
      checkpoint therapy response and to identify targets for personalized cancer vaccines and adoptive
      T cell therapies.
      </p>
      <p>
        <img class="figure3_1" src="{% static "lab/media/image/Fig4_1.png" %}">
      </p>
      <p class="container results">
        Here we offer a new neoantigen discovery pipeline as a contiguous means of predicting putative
      neoantigens and their corresponding recognition potentials for both single and multi-region
      tumor samples. NeoPredPipe is able to quickly provide summary information for researchers,
      and clinicians alike, on predicted neoantigen burdens while providing high-level insights into
      tumor heterogeneity given somatic mutation calls and, optionally, patient HLA haplotypes. Given
      an example dataset we show how NeoPredPipe is able to rapidly provide insights into neoantigen
      heterogeneity, burden, and immune stimulation potential.
      </p>
      <img class="figure3_2" src="{% static "lab/media/image/Fig4_2.png" %}">
      <p class="container-fluid conclusions">
        Through the integration of widely adopted tools for neoantigen discovery our new pipeline
      offers a contiguous means of processing single and multi-region sequence data. NeoPredPipe
      is user-friendly and adaptable for high-throughput performance.
      </p>
      <form>
        <button type="button" class="btn btn-primary center-block" onclick="history.back()">Go Back!</button>
      </form>
    </div>
    <div class="col-lg-2"></div>
  </section>
</div>
{% endblock content %}