{% extends "index.html" %}
{% load staticfiles%}
{% block title %} Team {% endblock title %}
{% block content %}
  <section>
    <div class="container-fluid row">
      <div class="col-lg-2"></div>
      <div class="page col-xs-12 col-lg-8">
        <h2 class="page-title">Team</h2>
        <div class="team">
          <img class="photo" src="{% static "lab/media/image/IMG_2927.jpg" %}">
          <h4 class="name"><a target="_blank" href="https://scholar.google.nl/citations?user=i7iNiTUAAAAJ&hl=en">Leticia
            G. Leon</a>
          </h4>
          <br>
          <p class=" bio"> Leticia is senior postdoc with more than ten years of experience between
            "wet-lab" and "dry-lab". Now she is fully commit with the bioinformatics part working as main
            bioinformatician in the Immunology Department at Erasmus MC. She got her PhD degree in Madrid and worked as
            postdoc in Amsterdam, during her postdoc she decided to follow the Bioinformatic Master program at the
            VU.</p>
        </div>
        <div class="team">
          <img class="photo" src="{% static "lab/media/image/Hans_bas2.jpg" %}">
          <h4 class="name"><a target="_blank" href="https://www.youtube.com/channel/UC40O2dR9H0LVFTqWWbAwDDQ">Hans de
            Bruin</a></h4><br>
          <p class="bio">Technology is my biggest passion. It al started with Wondere Wereld, an old TV-show I watched
            as a child. From there it went from electronics to computers and back to electronics and computers. These
            days I work mostly as a problem solver and inventor. I develop solutions when there are problems or invent
            something new when changing workflows require something new. Music is my second passion and when I’m not
            working on something I play bass in a band.</p>
        </div>
        <div class="team">
          <img class="photo" src="{% static "lab/media/david.jpg" %}">
          <h4 class="name"><a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/?term=van+Zessen+DBH">David BH
            van Zessen</a>
          </h4><br>
          <p class="bio">Started as a system administrator before transitioning to Computer Science and falling in
            love with programming. An internship at Erasmus MC sparked my interests in bioinformatics, and staying
            there for a fulltime position was an easy decision.With the fast moving field of Bioinformatics/Computer
            Science, I think it’s very important to keep learning about the new or improved ways of solving everyday
            problems.</p>
        </div>
        <p class="more-info-team">
          More information about the members of our team: Like this interview to Leticia G. Leon in the
          <a target="_blank" href="https://youtu.be/VoWCRhrOazA">Spanish news</a>
          and she was also invited to this
          <a target="_blank" href="https://youtu.be/YE-uDFN-i7E">Round table</a>
          to talk about the situation of researchers in Spain.
        </p>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </section>
</div>
{% endblock content %}