{% extends "index.html" %}
{% block title %} Work {% endblock title %}
{% block content %}
 <section class="container-fluid row">
    <div class="col-lg-2"></div>
    <div class="col-xs-12 col-lg-8">
      <h2>Work</h2>
      <p>
        Bioinformatics Immunology is working in different types of genomic analysis.
        We give bioinformatics support to other research groups inside Immunology Department EMC
        If you are curious about what we do, take a look to our publications in
        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/?term=leon+lg">Pubmed</a>
        , also a full list of manuscripts can be found in in Leticia G. Leon
        <a target="_blank" href="https://scholar.google.nl/citations?user=i7iNiTUAAAAJ&amp;hl=en">Google Scholar</a>
        profile.
      </p>
      <h2>Projects</h2>
      <h4><a href="/lab/project1">Somascan: Fatigue in Sjogren’s syndrome</a></h4>
      <p>
        Primary Sjögren’s syndrome (pSS) is a systemic autoimmune disease, where patients
        often suffer from fatigue. In this study aptamer-based SOMAscan technology is used
        to identify biomarkers and treatment targets for fatigue in pSS.
      </p>
      <h4><a href="/lab/project2">Profiling T-cell prolymphocytic leukemia with sncRNA</a></h4>
      <p>
        T-cell prolymphocytic leukemia (T-PLL) is a rare neoplasm with an adverse prognosis.
        Moreover accurate and fast prognosis is problematic due to the high heterogeneity of
        this disease. Therefore, further molecular insights and deep understanding is needed.
      </p>
      <h4><a href="/lab/project3">Transcriptomics: CD8 T cell exhaustion model</a></h4>
      <p>
        Exhaustion is a dysfunctional state of cytotoxic CD8+ T cells (CTL) observed in chronic infection and cancer.
        Current in vivo models of CTL exhaustion are limited. Establishing an in vitro system that induces CTL
        exhaustion could therefore greatly facilitate the study of this phenotype.
      </p>
      <h4><a href="/lab/project4">WES and transcriptomics: NeoAntigenes</a></h4>
      <p>
        Cancer immunology is evolving as the new mainstream approach to fight tumor progression.
        The use of immunotherapeutic agents mediating immune checkpoint receptor blockage has
        demonstrate a better anti-tumor efficacy compared to conventional therapies. Syngenic
        mouse cancer models are particularly for preclinical drug testing.
      </p>
    </div>
    <div class="col-lg-2"></div>
  </section>
</div>

{% endblock content %}
