{% extends "base.html" %}
{% block title %} Job Request {% endblock title %}
{% block content %}


<h1> Which kind of Bioinformatic analysis do you want for your project </h1>

{% if submitted %}
	<p class ="success">
		To offer you the best service we need to know which kind of analysis
		do you expect for your data, thanks for all details.
	</p>

{% else %}
	<form action="" method="post" novalidate>
	<table>
		{{ form }}
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" value="Submit"></td>
		</tr>
	</table>
	<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
	</form>
{% endif %}


<a href="general_info.html" class="previous round">&#8249;</a>
<a href="base.html" class="next round">&#8250;</a>

{% endblock content %}