{% extends "base.html" %}
{% block title %} Job Request {% endblock title %}
{% block content %}


<h1> General Information of the Biological project  </h1>

{% if submitted %}
	<p class ="success">
		The general Information of your project has submitted,
		please fill out the further details for the analysis.
	</p>

{% else %}
	<form action="" method="post" novalidate>
	<table>
		{{ form }}
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" value="Submit"></td>
		</tr>
	</table>
	<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
	</form>
{% endif %}


<a href="job_request.html" class="previous round">&#8249;</a>
<a href="analysis_type.html" class="next round">&#8250;</a>

{% endblock content %}