{% extends "index.html" %}
{% block title %} Job Request {% endblock title %}
{% block content %}


<h1> Request Bioinformatic Job </h1>
<p class="forms-text">
Dear client, to request a bioinformatics analysis with us will cost you almost nothing <strong>20€</strong> per analysis.
We are fully aware that we have deadlines, so in case you are in a hurry you can select <strong>high-priority</strong> which
it will only increase the price for the analysis in <strong>15€</strong>, if your deadline is not so close you can
select <strong>mid-priority for 10€ </strong>or<strong> low-priority for 5€</strong>. If you have no time issues then
select none in the priority status and we will make your analysis when we can.
</p>


{% if submitted %}
	<p class ="success">
		Your Job Request has submitted, please fill out the further details.
	</p>

{% else %}
	<form class="formsModels" method="post" novalidate>
	<table>
		{{ form }}
		<tr>
			<td>&nbsp;</td>
			<td><button type="submit"><input type="submit" value="Submit"></button></td>
		</tr>
	</table>
	{% csrf_token %}
	</form>
{% endif %}

{% endblock content %}