<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        type="text/css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css"
        type="text/css"/>
  <link rel="stylesheet" href="./assets/css/style.css" type="text/css"/>
  <meta name="viewport" content="width=device-width, initial-scale-1">
  <meta charset="UTF-8">
</head>
<body>
<!--navbar-->
<!-- Header: to put the lab Name to the right and menu (symbol) to the left
 each space is around 1/3 (Menu) and 2/3 (Name)-->
<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top row">
    <div class="col-lg-2"></div>
    <div class="container col-xs-12 col-lg-8">
      <div class="navbar-header">
        <a class="navbar-brand" href="">BioInformatics Immunology EMC</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="col-lg-2"></div>
      <div id="navbar" class="collapse navbar-collapse" aria-expanded="true" style="height: 1px;">
        <ul class="nav navbar-nav">
          <li class="#">
            <a href="index.html" data-toggle="collapse" data-target=".navbar-collapse.in">Home</a>
          </li>
          <li><a href="work.html" data-toggle="collapse" data-target=".navbar-collapse.in">Work</a></li>
          <!--<li><a href="projects.html" data-toggle="collapse" data-target=".navbar-collapse.in">Projects</a></li>-->
          <li><a href="team.html" data-toggle="collapse" data-target=".navbar-collapse.in">Team</a></li>
          <!--<li><a href="#partnerlinks" data-toggle="collapse" data-target=".navbar-collapse.in">Partner Links</a></li>-->
          <li><a href="contact.html" data-toggle="collapse" data-target=".navbar-collapse.in">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Section: to put in that case project description with some Figures -->
  <section class="container-fluid row">
    <div class="col-lg-2"></div>
    <div class="content col-xs-12 col-lg-8">
      <h2>CD8 T cell exhaustion model</h2>
      <p class="intro">
        Primary Sjögren’s syndrome (pSS) is a systemic autoimmune disease, where patients often suffer from fatigue.
        Biological pathways underlying this fatigue are unknown. In this study aptamer-based SOMAscan technology is
        used to identify biomarkers and possible treatment targets for fatigue in pSS.
      </p>
      <p>
        <img class="figure1_1" src="assets/images/Figuur1_Somascan.jpg">
      </p>
      <p class="results">
        Serum concentrations of over 1300 proteins were compared between 63 pSS and 20 HCs resulting in 58 upregulated
        and 46 downregulated proteins. Additionally, serum concentrations of 30 interferon positive and 30 negative
        pSS patients were compared resulting in 25 upregulated and 13 downregulated proteins.
        ELISAs were performed for several DEPs between pSS patients and HCs or IFNpos and IFNneg all showing a good
        correlation between protein levels measured by ELISA and relative fluorescence units (RFU) measured by the
        SOMAscan. Comparing 22 fatigued and 23 non-fatigued pSS patients, 16 serum proteins were differentially
        expressed between, of which 14 were upregulated and 2 were downregulated. DEPs showed good capacity to
        discriminate fatigued and non-fatigued pSS patients.
      </p>
      <img class="figure1_2" src="assets/images/Figuur2_Somascan.png">
      <p class=" conclusions">
        In this study we validated the use of aptamer-based proteomics and were able to identify several proteins
        which were able to distinguish fatigued from non-fatigued pSS patients.
      </p>
      <form>
        <button type="button" class="btn btn-primary center-block" onclick="history.back()">Go Back!</button>
      </form>
    </div>
    <div class="col-lg-2"></div>
  </section>
</div>
<footer class="container-fluid footer">
  <div class="row">
    <div class="col-xs-12">
      <h5 class="uppercase general-sub"></h5>
      <p class="inline-block footer-middle">
        Erasmus MC - Immnunology Department, Bioinformatics team
        l.gonzalezleon@erasmusmc.nl
      </p>
      <div class="col-xs-12">
        <h5 class="uppercase general-sub"></h5>
        <ul class="list-inline social-links">
          <li><a target="_blank" href="https://www.facebook.com/CancerPharmacologyLab/"><i
            class="fa fa-facebook"></i></a></li>
          <li><a target="_blank" href="https://www.linkedin.com/in/leticia-g-leon-74027b17"><i
            class="fa fa-linkedin"></i></a></li>
          <li><a target="_blank" href="https://www.youtube.com/channel/UC40O2dR9H0LVFTqWWbAwDDQ"><i
            class="fa fa-youtube"></i></a></li>
          <li><a target="_blank"
                 href="https://www.google.com/maps/place/Erasmus+University+Medical+Center/@51.9108848,4.4656654,17z/data=!3m1!4b1!4m5!3m4!1s0x47c4349bd0000001:0x8491118325eb0fe6!8m2!3d51.9108848!4d4.4678541"><i
            class="fa fa-globe"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>

