{% extends "index.html" %}
{% block title %} User Register page {% endblock title %}

{% block content %}

{% if form.errors %}
    {{ form.errors }}
{% endif %}

<form class="user-log" method="post" action="{% url 'users_register' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password1.label_tag }}</td>
    <td>{{ form.password1 }}</td>
</tr>
<tr>
    <td>{{ form.password2.label_tag }}</td>
    <td>{{ form.password2 }}</td>
</tr>
</table>

<button type="submit" class="btn btn-secondary center-block"><input type="submit" value="register"></button>
</form>

{% endblock %}

<!--
<input type="text" name="username" placeholder="username">
-->