{% load staticfiles%}
{% load static from staticfiles %}
{% load bootstrap_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	      type="text/css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	      type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css"
	      type="text/css"/>
	<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css"/>
	<meta name="viewport" content="width=device-width, initial-scale-1">
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="{% static "lab/media/image/favicon.ico" %}"/>
	{% block head_js %}
	{% endblock head_js %}
</head>
<div>
	<!--navbar-->
	<!-- Header: to put the lab Name to the right and menu (symbol) to the left-->
	<div class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top row">
			<div class="col-lg-2"></div>
			<div class="container col-xs-12 col-lg-8">
				<div class="navbar-header">
					<a class="navbar-brand" href="/lab/">BioInformatics Immunology EMC</a>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar"
					        aria-expanded="false">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="col-lg-2"></div>
				<div id="navbar" class="collapse navbar-collapse" aria-expanded="true" style="height: 1px;">
					<ul class="nav navbar-nav">
						<li class="#">
							<a href="/lab/" data-toggle="collapse" data-target=".navbar-collapse.in">Home</a>
						</li>
						{% if user.is_authenticated %}
							<li><a href="/requestform/job_request"> Analysis request</a> </li>
							<li><a href="/lab/job_status">JobUpdate</a></li>
							<li><a href="/priority/clients_data"> Clients </a></li>
							<li><a href="/lab/work" data-toggle="collapse" data-target=".navbar-collapse.in">Work</a></li>
							<li><a href="/lab/team" data-toggle="collapse" data-target=".navbar-collapse.in">Team</a></li>
							<li><a href="/contact/contact" data-toggle="collapse" data-target=".navbar-collapse.in">Contact</a></li>
						{% else %}
							<li><a href="/priority/clients_data"> Clients </a></li>
							<li><a href="/lab/work" data-toggle="collapse" data-target=".navbar-collapse.in">Work</a></li>
							<li><a href="/lab/team" data-toggle="collapse" data-target=".navbar-collapse.in">Team</a></li>
							<li><a href="/contact/contact" data-toggle="collapse" data-target=".navbar-collapse.in">Contact</a></li>
						{% endif %}
						{% if user.is_authenticated %}
							<li><a href="/users/logout" data-toggle="collapse" data-target=".navbar-collapse.in">Log out</a></li>
							<li><a href="/cart/" data-toggle="collapse" data-target=".navbar-collapse.in">Cart</a></li>
						{% else %}
							<li><a href="/users/login" data-toggle="collapse" data-target=".navbar-collapse.in">Log in</a></li>
							<li><a href="/users/register" data-toggle="collapse" data-target=".navbar-collapse.in">Register</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
		{% block content %}
			<!-- Section: to put the lab logo and some text with links -->
			<section class="container-fluid row">
				<div class="col-lg-2"></div>
				<div class="content col-xs-12 col-lg-8">
					<p>
						Bioinformatics Immunology is a
						<a href="/lab/team">team</a>
						inside
						<a href="https://www.immunology.nl" target="_blank">Immunology
							department</a>
						to give support for any genomics anlysis.
					</p>
					<div class="nopadding">
						<img src="{% static "lab/Picture1Log.png" %}" alt="Logo">

					</div>
					<div class="second-statement">
						<p> We collaborate in several
							<a href="/lab/work">projects</a>
							with other groups in the department.
							If you have genomic data and needs a hand.
							Please
							<a href="/contact/contact">contact</a>
							us and we could tall and work together.</p>
					</div>
					<div class="col-lg-2"></div>
				</div>
			</section>
			</div>
			</div>
		{% endblock %}
<footer class="container-fluid footer">
	<div class="row">
		<div class="col-xs-12">
			<h5 class="uppercase general-sub"></h5>
			<p class="inline-block footer-middle">
				Erasmus MC - Immnunology Department, Bioinformatics Team
				l.gonzalezleon@erasmusmc.nl
			</p>
			<div class="col-xs-12 col-">
				<h5 class="uppercase general-sub"></h5>
				<ul class="list-inline social-links">
					<li><a href="/users/login" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
					<li><a href="/users/register" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-user" aria-hidden="true"></i></a></li>
					<li><a target="_blank" href="https://www.linkedin.com/in/leticia-g-leon-74027b17"><i
							class="fa fa-linkedin"></i></a></li>
					<li><a target="_blank" href="https://www.youtube.com/channel/UC40O2dR9H0LVFTqWWbAwDDQ"><i
							class="fa fa-youtube"></i></a></li>
					<li><a target="_blank"
					       href="https://www.google.com/maps/place/Erasmus+University+Medical+Center/@51.9108848,4.4656654,17z/data=!3m1!4b1!4m5!3m4!1s0x47c4349bd0000001:0x8491118325eb0fe6!8m2!3d51.9108848!4d4.4678541"><i
							class="fa fa-globe"></i></a></li>
					<li><a target="_blank"
					       href="https://github.com/lgleon?tab=repositories"><i class="fa fa-github"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>