{% extends "index.html" %}
{% block title %} Job Status {% endblock title %}
{% block content %}


<h1> Clients </h1>
<p class="forms-text">
Dear user, Before you are able to send us any analysis, we need some data from you. It is important to us and
also to you, security matters, to know who is the owner of the analysis, the <strong>supervisor</strong> and in
which study is this analysis included <strong>project</strong> and were to find you or your supervisor,
<strong>department</strong>.
</p>



{% if submitted %}
	<p class ="success">
		You create a new status entry for the job "Job title"
	</p>
{% else %}
	<p class="center-form"> Dear <strong>{{ user }},</strong> we need few details about you:</p>
	<form class="formsModels" method="post" novalidate>
	<form class="formsModels" action="" method="post" novalidate>
	<table>
		{{ form }}
		<tr>
			<td>&nbsp;</td>
			<td><button type="submit"><input type="submit" value="Submit"></button></td>
		</tr>
	</table>
	{% csrf_token %}
	</form>
{% endif %}

{% endblock content %}