{% extends "index.html" %}
{% block title %} Job Status {% endblock title %}
{% block content %}


<h1> Clients </h1>


{% if submitted %}
	<p class ="success">
		You create a new status entry for the job "Job title"
	</p>
	<form method="post" action="{% url 'add_to_cart' product.id %}">
        {% csrf_token %}
        <div class="input-group">
            <input name="quantity" type="number" min="0" max="3" class="form-control" placeholder="Priority Level">
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Add</button>
            </span>
        </div>
	</form>

{% else %}
	<form action="" method="post" novalidate>
	<table>
		{{ form }}
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" value="Submit"></td>
		</tr>
	</table>
	{% csrf_token %}
	</form>
{% endif %}

{% endblock content %}